root = true

[*.kt]
indent_style = space
indent_size = 4
continuation_indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
disabled_rules = import-ordering, final-newline
