<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.util.simpletimetracker.feature_widget">

    <application android:theme="@style/AppTheme">

        <activity
            android:name=".single.settings.WidgetSingleSettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".statistics.settings.WidgetStatisticsSettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".quickSettings.settings.WidgetQuickSettingsConfigureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".universal.activity.view.WidgetUniversalActivity"
            android:documentLaunchMode="intoExisting"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <activity
            android:name=".single.WidgetSingleTagSelectionActivity"
            android:documentLaunchMode="intoExisting"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <receiver
            android:name=".single.WidgetSingleProvider"
            android:exported="false"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_single_info" />
        </receiver>

        <receiver
            android:name=".universal.WidgetUniversalProvider"
            android:exported="false"
            android:label="@string/widget_universal_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_universal_info" />
        </receiver>

        <receiver
            android:name=".statistics.WidgetStatisticsChartProvider"
            android:exported="false"
            android:label="@string/widget_statistics_chart_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_statistics_chart_info" />
        </receiver>

        <receiver
            android:name=".quickSettings.WidgetQuickSettingsProvider"
            android:exported="false"
            android:label="@string/widget_quick_settings_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_quick_settings_info" />
        </receiver>

    </application>
</manifest>
