<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.util.simpletimetracker.feature_widget">

    <application android:theme="@style/AppTheme">

        <activity android:name=".configure.view.WidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".universal.activity.view.WidgetUniversalActivity"
            android:documentLaunchMode="intoExisting"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <receiver
            android:name=".widget.WidgetProvider"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver
            android:name=".universal.WidgetUniversalProvider"
            android:label="@string/widget_universal_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_universal_info" />
        </receiver>

    </application>
</manifest>
