<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
    ExportedService suppressed because WearableListenerService has internal check
    that request came from google play service and not some other app
    -->
    <application>
        <service
            android:name=".WearService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.REQUEST_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/stt"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>
</manifest>