<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.util.simpletimetracker.feature_notification">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application android:theme="@style/AppTheme">

        <receiver
            android:name=".recevier.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!--For HTC devices-->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />

                <action android:name="com.razeeman.util.simpletimetracker.ACTION_START_ACTIVITY" />
                <action android:name="com.razeeman.util.simpletimetracker.ACTION_STOP_ACTIVITY" />
                <action android:name="com.razeeman.util.simpletimetracker.ACTION_STOP_ALL_ACTIVITIES" />
                <action android:name="com.razeeman.util.simpletimetracker.ACTION_STOP_SHORTEST_ACTIVITY" />
                <action android:name="com.razeeman.util.simpletimetracker.ACTION_STOP_LONGEST_ACTIVITY" />
                <action android:name="com.razeeman.util.simpletimetracker.ACTION_RESTART_ACTIVITY" />

                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>