<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.util.simpletimetracker.feature_notification">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:theme="@style/AppTheme">

        <receiver
            android:name=".recevier.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!--For HTC devices-->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

    </application>
</manifest>